<div class="w-full max-w-screen-xl mx-auto animate__animated animate__fadeIn animate__faster text-center">
    <div class="sm:flex sm:items-center sm:justify-between p-6 pt-10">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-neutral-300 dark:text-black">YourEcommerce</span>
        </a>
        <ul class="flex flex-wrap justify-between items-center mb-6 text-sm font-medium text-neutral-300 sm:mb-0 dark:text-neutral-400">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Acerca de</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Política de Privacidad</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Licencias</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
    <hr class="mt-6 border-neutral-700 sm:mx-auto dark:border-neutral-700 lg:mt-8" />
    <span class="block text-sm text-neutral-300 sm:text-center dark:text-neutral-400 p-4">
        © 2025 <a href="/" class="hover:underline"> YourEcommerce</a>. Todos los derechos reservados.
    </span>
</div>