<!DOCTYPE html>
<html lang="en" class="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <script type="importmap"></script>
        <link href="~/css/output.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>
    <body class="bg-neutral-950 text-white">
       
        <header>
            @await Component.InvokeAsync("NavBarDashboard")
        </header>

        <main role="main" class="overflow-x-hidden w-full flex">
            @await Component.InvokeAsync("MenuDrawerDashboard")
            @RenderBody()
        </main>

        @await Html.PartialAsync("_Notification")

        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="~/js/theme-toggle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/imagePreview.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>