<button id="theme-toggle" type="button" class="cursor-pointer text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2">
    <i id="theme-toggle-dark-icon" data-lucide="moon" class="hidden size-6"></i>
    <i id="theme-toggle-light-icon" data-lucide="sun" class="hidden size-6"></i>
</button>