@using YourEcommerce.DTOs.GenderDtos
@model YourEcommerce.ViewModels.TableDashboardViewModel<GenderDto>
@{
    ViewData["Title"] = "Generos";
}

<div class="w-full p-4 overflow-auto">
    @await Component.InvokeAsync("TableDashboard", new { 
        title = Model.Title,
        items = Model.Items,
        total = Model.TotalItems,
        url = Model.ApiBaseUrl
    })
</div>