@inject IJSRuntime JS

@page "/"

<h3>Productos</h3>

<button @onclick="TestJsInterop">Probar JSInterop</button>

@code {
    private async Task TestJsInterop()
    {
        await JS.InvokeVoidAsync("alert", "JSInterop funciona!");
    }
}

